[2016-02-10 02:27] pabender opened #5 "Time to move EngineDriver to Android Development Studio?"
Should we move EngineDriver development to the Android Development Studio?

I have something I'd like to add to EngineDriver, and development of EngineDriver has traditionally been performed in Eclipse, but Eclipse is no longer the preferred development environment for Android apps.

Paul

[2016-02-10 13:49] mstevetodd commented on #5
Changing dev environments for a mature product is usually a bad idea, unless the new tool provides some critical function that the old tool does not.  High risk for small reward.

What are you wanting to add to EngineDriver?

[2016-02-10 15:25] pabender commented on #5
On Wed, Feb 10, 2016 at 8:49 AM, SteveT <notifications@github.com> wrote:

We change environments to keep up with technology.  Yes, sometimes that
means we have to learn something new to make that happen.

Android indicates the eclipse plugin is no longer supported:

http://developer.android.com/tools/help/adt.html

At some point we will be forced to change or development will need to stop,
and I

[2016-02-10 16:15] n3ix commented on #5
Paul and Steve,

Hi.  I love new technology but I would not support changing to Studio for a
dot release.  Just way too risky.  In my many years of product development
experience we would never change dev tools on an established product unless
we absolutely had to, and then it would be considered a major release and
require lots of testing.

(To illustrate the point, we are still using Visual Stud

[2016-02-10 16:40] mstevetodd commented on #5
Paul,

You're wanting to put something related to JMRI Operations inside EngineDriver itself?
The current interfaces to Operations (Trains, Manifest, Conductor) are in the web server code, and I highly recommend they stay there, accessible from any browsers including those embedded into the ED and WiThrottle apps.
Please describe further what you are proposing to add to EngineDriver itself.

I agr

[2016-02-10 18:34] pabender commented on #5
On Wed, Feb 10, 2016 at 11:40 AM, SteveT <notifications@github.com> wrote:

I'm not going to remove any of the existing features, but they don't feel
integrated with the software.  They are what they are, they are web pages
displayed within the app.

What I want is better control over how the information is presented.  One
option that I really want to put into place is the ability to have a
waybil

[2016-02-10 22:45] rhwood commented on #5
Is there any reason not to make these changes in the web server so other than EngineDriver users can benefit from them?

Randall Wood
Alexandria Software
randall.h.wood@alexandriasoftware.com
http://alexandriasoftware.com

[2016-02-11 01:06] pabender commented on #5
On Feb 10, 2016 5:45 PM, "Randall Wood" <notifications@github.com> wrote:

than EngineDriver users can benefit from them?

That is always an option, but that isn't the path I want to take this. This
is at least partly about integrating this into the look and feel of the
application, and we don't get that (at least not completely ) with a web
based interface.

The web interface for all this has alw

[2016-07-02 16:14] k4kfh opened #19 "More responsive/Material UI?"
I love the utility of engine driver, but the UI looks a little dated. I understand features are probably the main priority (rightfully so) but perhaps a more modern, responsive UI that applies Google's Material Design would be useful. The interface on tablets could use a refresh, for example I'd like to be able to view a panel easily, and on a larger screen control more than two locomotives at a t

[2016-07-02 16:36] mstevetodd commented on #19
Thanks for the feedback, Hampton.

We're always open to PRs if you'd like to give the UI an overhaul. UI updates are extremely time-consuming for me, and I just don't have the time to invest.

There are some Preferences that you should try. In particular, the AutoWeb rotation preference is used by many to easily flip back and forth between the web view and the throttle view, and the "Number of Thr

[2016-07-02 16:46] k4kfh commented on #19
I completely understand why you haven't focused on UI updates. The app is still very usable, and I'm glad you've developed it this far.

I'm new to Android development, but I plan on messing around with it a little bit, so I'll fork and submit a PR if I get anywhere with it.

Thanks for the tips on preferences, that fixes several of my problems.

[2016-07-02 16:46] #19 closed

[2017-07-07 13:33] mstevetodd commented on #5
I have completed the move of EngineDriver 2.x to Android Studio. Closing this issue.

[2017-07-07 13:33] #5 closed

[2017-07-23 19:15] costing opened #65 "functions turned on after selecting a loco with some lockable="false" functions"
I have a loco where I have declared some of the functions as lockable="false". Mostly horns, bells, other sounds. When I select this loco some of these functions are enabled and create a large amount of noise. The functions don't appear selected but until I hit the correct functions that are turned on the noise keeps going. Most of the times it's F2 but other times other functions are also enabled

[2017-07-24 17:27] mstevetodd commented on #65
@costing ,
Is this with a DCC++ command station? Does it also occur with a JMRI throttle window? Please describe your hardware/software setup, including versions.
EngineDriver doesn't send any function states until a button is pressed, so if an acquire is sending function states, that must be happening elsewhere in the device chain.

[2017-07-24 19:46] costing commented on #65
@mstevetodd ,

I've made a video to demonstrate:
https://photos.app.goo.gl/z1xD14FBtrzQFuYs1.

The connection is like this:

(1) DecoderPro 4.9.1 on Linux Ubuntu 17.04 connected via DCC++ TCP Client / Server to
(2) JmriFaceless 4.9.1 on RPI, connected on USB to
(3) DCC++ Base Station on Arduino + Motor shield

EngineDriver can connect either to (1) or (2). For debugging I've connected it to (1) an

[2017-07-25 01:23] mstevetodd commented on #65
@costing
Do you have some way to decode those byte patterns? Nothing like that is coming from ED. The WiThrottle protocol is human-readable characters, like "MT+L5511".
I'm of the opinion the JMRI -> DCC++ connection code is sending something to activate the functions, but this will be very difficult for me to debug as I have no DCC++ hardware.
Someone had both DCC++ and Digitrax hardware availabl

[2017-07-25 05:59] costing commented on #65
@mstevetodd

I've connected ED directly to the RPI, see the last paragraph from the above. The problem is still there.

I'll try to reproduce it with two computers in a similar setup but without a hardware backing, using DCC++ Simulator connection instead. Just to see that the problem can be reproduced and chat intercepted. I'll try to dump the ED chat as well.

The DCC++ commands are documented h

[2017-07-25 08:36] costing commented on #65
@mstevetodd ,

I think I have a simple way to reproduce it. On a standalone computer start DecoderPro and add a single connection of type DCC++, System connection = DCC++ Simulator. After restarting you have a DCC++ entry in the top menu from which you can select the "DCC++ Traffic Monitor" that also can log the traffic. I've done this and tcpdump-ed the chat between ED and this DecoderPro. Then I

[2017-10-10 12:36] mstevetodd commented on #65
@costing
Can this issue be closed?

[2017-10-10 12:42] costing commented on #65
@mstevetodd
Yes, the ticket is opened on the JMRI's side: https://github.com/JMRI/JMRI/issues/3826

Cheers,

.costin

[2017-10-10 13:41] #65 closed

[2018-03-04 16:38] mattharris opened #185 "ESU MCII does not honour EngineDriver screen lock"
From 'jmriusers':

Dear WiThrottle developers,

I just participated in a 6 hour op session, mostly using the WiThrottle app on my MC2.

Several times, my train would run away because I laid the throttle down, hanging it from my neck using the neck strap. What probably happens is that the wheel is inadvertently bumped against my body and turned.

Is there any way to disengage the wheel when swiping

[2018-03-04 17:50] mattharris commented on #185
PR #186 contains a fix for this issue.

This blocks pretty much all interactions from the ESU MCII when screen is locked aside from the on-device STOP button (just above top-right of screen) and form any side buttons configured with STOP behaviour.

[2018-03-04 18:48] SonnysHansen opened #187 "Testing Engine Driver on ESU MC II"
I now have had the opportunity to try out the Engine Driver 1.17 on my ESU MC II.
I have no problems when using the ESU throttle, it seams to work as intended.

The only small problem I have discovered, which is no problem at all, I think.
The ESU app have the same fault, but the Engine Driver app works better.

When turning the throttle knop over the limited off 126 speed steps, and then pressing

[2018-03-04 20:20] mattharris commented on #187
Sonny,

Thanks for the clear issue statement - I've been able to verify this behaviour.

I _think_ that it's related to the conversion routine for control knob position to speed-step in the ESU provided library that we make use of in EngineDriver.

The last few degrees of a fully clockwise knob position appear to be 'out-of-range'.

I'll take a closer look to see if there's something we can do

[2018-03-20 04:44] McLae opened #201 "Digitrax LnWi issue with 2.17"
version 2.17 seems to have broken the connection to Digitrax LnWi.
Worked before the update, does not work now.
Could someone do some testing to see what changed and how to get this back working?

[2018-03-20 06:50] flash62au commented on #201
Hi,
can you provide a more detailed description of the issue?

Have you tried reinstalling v1.16 to confirm that 1.17 is the issue?  It
can be downloaded from here... https://enginedriver.mstevetodd.com/downloads

Peter Akers

On 20 March 2018 at 14:45, McLae <notifications@github.com> wrote:

[2018-04-08 15:41] KenNinomiya opened #212 "Engine Driver on ESU MC2 loco headlight turns off unexpectedly"
Hardware: ESU MC2
OS: Android 4.1.1
Engine Driver version: 2.18
JMRI version: JMRI for Raspberry Pi by Steve Todd
DCC: CVP EasyDCC
If it makes a difference: Engine Driver theme used is "High Contrast Outline"

Minor issue noticed during ops session. Intermittent headlight loss (turns off). Light "button" indicates light function still "on", but headlight is off on loco. To turn light back on, I ha

[2018-04-08 16:01] SonnysHansen opened #213 "EngineDriver not compatible"
When trying to download EngineDriver version 2.18 to my ESU mobile control II from Google Play Store, I get this message " Your device isn't compatible with this version".
Do I do something wrong?
regards,
Sonny Hansen
Denmark

[2018-04-08 20:37] mstevetodd commented on #212
@KenNinomiya does the light indicator actually change from on to off, or does the indicator not update after you send a change? Not much change of debugging it without a consistent way to repeat. Even then, it'll be difficult since I don't have CVP hardware.
As background, the indicator changes on a message from the WiThrottle server. If that message isn't sent, the indicator won't update.

[2018-04-08 21:43] KenNinomiya commented on #212
The indicator on the MC2 display remains in the "on" setting (bright border and text) when the loco headlight goes out. The indicator on the display will dim and highlight again when I press/touch to cycle and restore the headlight back on on the loco.

Sent from my iPhone

____________________________________________________________
After Weeks Of Rumors, Joanna Gaines Comes Clean
risingstarnewsp

[2018-04-08 23:32] KenNinomiya commented on #212
Sorry, never thought about trying the default theme.

Ken

Sent from my iPhone

____________________________________________________________
1 Simple Trick Removes Eye Bags & Lip Lines in Seconds
Fit Mom Daily
http://thirdpartyoffers.juno.com/TGL3131/5acaa6723bc6e26710e24st02duc

[2018-04-08 23:58] mstevetodd commented on #212
It would also be helpful to try it with another command station type, even a simulator. Feel free to use my jmri.mstevetodd.com:44444 if you'd like.
I'm trying to narrow down if we have a CVP problem or and EngineDriver problem.

[2018-04-09 01:03] KenNinomiya commented on #212
Since your simulator won't have an actual loco to monitor the headlight, that won't work. I'll have to get on an actual layout to test.

Sent from my iPhone

____________________________________________________________
1 Cup of This Before Bedtime ''Ends'' Tinnitus (Ear Ringing)
Healthier Patriot
http://thirdpartyoffers.juno.com/TGL3131/5acabba3254d23ba2778fst02vuc

[2018-04-09 02:42] KenNinomiya commented on #212
The only thing is, I've used this MC2 on this CVP layout since ED 2.15 or so, and I don't recall having to do this during ops before.

I'll check with my own JMRI on CabControl system to see whether the issue follows this MC2 or not.

I might be able to talk the manager of the CVP to let me run a test this week.

Ken

Ken Ninomiya
Oxnard, CA

_______________________________________________________

[2018-04-09 10:13] mattharris commented on #213
I'll have to look at this at the weekend as do not have access to hardware at the moment.
However, a quick thought comes to mind - didn't we add support for accelerometer based feedback during this past development phase? Only I do not think that the MCII has such hardware installed. It could be the way we're specifying the hardware requirements tripping us up.

Looking at the relevant line in the

[2018-04-09 10:17] flash62au commented on #213
oh..

Peter

On 9 April 2018 at 20:13, Matthew Harris <notifications@github.com> wrote:

[2018-04-09 10:34] flash62au commented on #213
I have added a new Pull Request to with the declaration included.

I have no way to test it though.

Peter

On 9 April 2018 at 20:13, Matthew Harris <notifications@github.com> wrote:

[2018-04-09 14:03] n3ix commented on #213
I added the change to the uses-feature line in my copy of AndroidManifest.  It loaded fine on the device, but as Matt pointed out this change only impacts loading from Play.  I will uninstall the test version and retest it from Play it once Steve uploads a new version.

[2018-04-11 04:13] KenNinomiya opened #215 "Request ability to set long press time to swap direction buttons"
If possible, it would be useful to allow a user to set the long press time to swap the two direction buttons.

We had a couple users at our last op session who accidentally changed button positions. A longer press time would help prevent that.

If it can be set to a user's preference, that would be ideal.

If not possible to give custom adjustment, increasing the long press to at least a couple se

[2018-04-11 04:15] flash62au commented on #215
Ken,
I should be able to do something in that space.

Peter Akers

On 11 April 2018 at 14:13, KenNinomiya <notifications@github.com> wrote:

[2018-04-11 16:48] n3ix commented on #213
The 2.18.1 beta loaded successfully from the Playstore.

[2018-04-11 16:48] #213 closed

[2018-04-11 16:57] mstevetodd commented on #213
@SonnysHansen if you'd like to verify the 2.18.1 beta version on your MCII, please visit this site
https://play.google.com/apps/testing/jmri.enginedriver
and sign up to receive Beta updates:

[2018-04-12 23:11] KenNinomiya commented on #212
@mstevetodd Robin is correct.

I tried the ED on my ESU CabControl command station, and I get no loss of headlight, even after tipping one side of the loco off the track. The headlight comes back on when placing wheels back down.

I ran a test on the EasyDCC layout again today. I noticed headlight flicker just before the headlight completely went out. When I tip the loco over, the headlight will n

[2018-04-12 23:12] #212 closed

[2018-04-13 00:11] n3ix commented on #212
Ken - thanks for the thorough testing.

Steve and Peter - as mentioned I run into fairly frequently during Ops, for sure on NCE systems, perhaps others.  I wonder if there is something we can do.  The headlight is typically transmitted in a DCC Function Group One packet.  This packet contains F1-F4 in addition to the headlight.  If we (optionally) periodically briefly toggled one of those function

[2018-04-13 00:25] flash62au commented on #212
Robin,
I am not sure a I can provide any serious input into this discussion, but a
question/observation.

I would be interested to sample a number of different sound decoders to see
what F4 does in them.

If it plays a sound in some/any decoders it could be annoying to
periodically toggle it.
Toggling the headlight, while a bit odd, 'may' prove less annoying.

Peter

On 13 April 2018 at 10:11, Rob

[2018-04-13 00:47] n3ix commented on #212
@flash62au F0 might be ok too.  What we need to do is "trick" the command station into thinking it needs to send Function Group One.  It might be that toggling F0 back and forth with no delay would do that, it might be that some command station code is smart enough to reject (also need to confirm that WiT doesn't discard rapid changes).  With functions other than F0 I think the command station mig

[2018-04-13 02:18] mstevetodd commented on #212
I'm not a fan of doing this in EngineDriver at all.
IF it needs doing, it seems like it should be handled in JMRI itself, either in the WiThrottle Server, or in the throttle implementations.

[2018-04-13 15:30] n3ix commented on #212
@mstevetodd I agree with you.  Figured the chances of getting in JMRI itself right off the bat weren't good but it would be pretty easy to implement and test as a user pref in ED.

@KenNinomiya  I operate regularly on a couple NCE layouts.  Despite enabling the refresh option in the command station they still exhibit this problem so perhaps the command station refresh does not really work?  Yes so

[2018-04-18 18:37] KenNinomiya commented on #215
Peter,

Just had notice from the members of the ops group who had the issues with accidental direction button changes. They informed me that ED 2.18.1 contained the long press adjustment option and it works well.

Thank you,

Ken

Ken Ninomiya
Oxnard, CA

[2018-04-18 18:37] #215 closed

[2018-04-19 00:49] flash62au commented on #215
Thanks for the feedback.

Peter

On Thu., 19 Apr. 2018, 4:37 am KenNinomiya, <notifications@github.com>
wrote:

[2018-04-20 12:03] SonnysHansen opened #225 "28 speed steps"
I have discovered a strange behavior on my ESU MCII with Engine Driver app.
When I use a throttle from JMRI with the same engine number as on ESU MCII, and set speed step in JMRI throttle to 28, then the Engine Driver app is crashing.
It looks like the ESU MCII with the Engine Driver app can´t handle 28 speed steps.

Sonny.

[2018-04-20 12:57] mstevetodd commented on #225
@SonnysHansen I'm not aware of any interaction between the JMRI Throttle Window and Engine Driver. Can you be specific with the steps you're taking to see this?
What version of JMRI are you running, and what hardware are you connected to?
Also, what do you have selected as the EngineDriver preference "Speed Units"?

[2018-04-20 14:25] SonnysHansen commented on #225
Yesterday I was visiting an H0 US train club, to show my ESU MCII working with Engine Driver app.
The club uses Lenz equipment,  and a Lenz USB unit to connect to JMRI version 4.10. Also started up was the Withrottle.  Some of the members use Engine Driver on Smart phones, and they have no problems.
When I, with my ESU MCII acquire e.g.  loco address 554, MCII shows speed step 27 in the speed step

[2018-04-20 14:26] mstevetodd commented on #225
Update: I figured out how to change the speed steps in the JMRI Throttle window.
If I set the EngineDriver "Speed Units" preference to "Auto Speed Steps", acquire the same address in ED and in a JMRI Throttle Window, and then change the speed steps in the JMRI Throttle window to "28 SS", the speed steps value in ED changes to match. (a "s2" message is sent). No crash on my phone, but the speed val

[2018-04-20 14:29] mstevetodd commented on #225
@SonnysHansen I don't see this crash reported to the Play Store. Are you running the production version of EngineDriver 2.18.1 installed from the Play Store?

[2018-04-20 14:39] SonnysHansen commented on #225
Yes! my version is 2.18.1

[2018-04-20 14:45] SonnysHansen commented on #225
Do I have to rapport it, when Engine Driver crash on my ESU MCII?

[2018-04-20 17:08] n3ix commented on #225
Steve,

I connected ED on the MC II to my Digitrax system, set a loco to 28 step mode using a JMRI throttle, acquired the same loco on ED and was able to crash ED by moving the speed slider.  You should get a crash report.  I did the same thing and used only the speed Knob and ED did not crash, however the speed scaling is incorrect and the speed shown in JMRI with the Knob at max rotation was ste

[2018-04-20 17:12] n3ix commented on #225
@mattharris  Another issue I noticed while testing is that the Knob is not rotated in response to external speed changes.  For instance if I change the speed using a JMRI throttle, the displayed speed in ED on the MC II changes however the Knob doesn't move.  If I change the speed using the slider in ED on the MC II, the Knob does move to track the change.

[2018-04-25 14:57] n3ix opened #229 "Flash feature not working on Android 8.1"
The recently added Flash feature does not turn on the Flash LED on a Nexus 6P running Android 8.1  The new flash icons work as expected, logcat shows a message saying the Flash was turned on, but the LED does not light.

[2018-04-25 15:45] mattharris commented on #229
I'm thinking that it might be necessary to use the new camera2 API on some of these newer devices. This gives us the use of [setTorchMode](https://developer.android.com/reference/android/hardware/camera2/CameraManager.html#setTorchMode(java.lang.String,%20boolean)) but we will need to provide fallback for lower API levels.

Unfortunately, this really needs our `targetSdkVersion` to be increased to

[2018-04-25 23:25] n3ix commented on #229
@mattharris Yeah, that's why we decided to leave it alone a couple years back when Steve and I looked into this.  If we are going forward with the feature (which would be great), don't think we can leave out support for the new camer2 API - that would cause too many support headaches.

I think I did some code in ConnectionActivity years ago that traps a case where a method doesn't exist in the cur

[2018-05-12 17:52] SonnysHansen opened #243 "A Samsung Galaxy Tablet not funktion whit EngieDriver v2.19-test2"
I have a discovered a problem with EngineDriver v2.19-test2.
I have several platforms to test EngineDriver on together with JMRI WIThrottle.
My smart phone works fine, my ESU MCII works fine.
But on my Samsung Tablet Galaxy A,  EngineDriver crash when trying to connect to the JMRI WiThrottle.
I then!!!, on my tablet tried to go back to EngineDriver v2.18.1 and then there is no problems with the co

[2018-05-12 21:05] flash62au commented on #243
Thanks for the feedback.

This is a remote possibility, but could I ask you to reinstall the beta
version. On the connection screen, before connecting to a sever, go into
the preferences and do a reset. This is in the last option in the main
preference list.

This shouldn't be necessary, but I don't have any other ideas at moment.

Peter

On Sun., 13 May 2018, 3:53 am Sonny Hansen, <notifications@

[2018-05-13 09:43] SonnysHansen commented on #243
Thanks,

I have now tried your suggestion, still the same problem, EngineDriver
crash when trying to connect to JMRI WiThrottle.

Sonny

Den 12-05-2018 kl. 23:05 skrev Peter Akers:

[2018-05-13 09:44] flash62au commented on #243
Thanks for trying that ,

what version of Android is it running?

Peter

On 13 May 2018 at 19:43, Sonny Hansen <notifications@github.com> wrote:

[2018-05-13 10:09] SonnysHansen commented on #243
Android-version 7.1.1

Sonny

Den 13-05-2018 kl. 11:44 skrev Peter Akers:

[2018-05-13 10:55] flash62au commented on #243
Hi,
I have committed a small code change that I hope will address the issue,
but Steve will need to update the Beta when he gets a chance.

Peter

On 13 May 2018 at 20:09, Sonny Hansen <notifications@github.com> wrote:

[2018-05-31 00:29] mstevetodd commented on #201
@McLae are you still having this issue with 2.18.1? I have an LnWi and it does not crash. If you are still having the issue with 2.18.1, please advise steps to reproduce.

[2018-05-31 08:30] SonnysHansen commented on #187
Yes!
I am now using v2.19-51

Den 31-05-2018 kl. 02:30 skrev mstevetodd:

[2018-05-31 10:09] mattharris commented on #187
I'll try to find some time to dig a bit further but, as previously mentioned, I think it's related to how the ESU library handles this situation.

[2018-06-04 18:13] mstevetodd commented on #201
I've not heard back from @McLae, and I've verified 2.18.1 is working well with my LnWi. Closing.

[2018-06-04 18:13] #201 closed

[2018-06-07 13:44] mstevetodd commented on #243
@SonnysHansen I updated the beta on 5/31, so you should be able to test this for Peter. Please advise results.

[2018-06-07 14:39] SonnysHansen commented on #243
I updated EngineDriver to v2.19-53 yesterday, and have tested it, this
morning, on my tablet.
There is no longer any problems with the connection to JMRI WiThrottle.

Regards,
Sonny

Den 07-06-2018 kl. 15:44 skrev mstevetodd:

[2018-06-07 15:40] #243 closed

[2018-07-20 21:54] mattharris opened #292 "ESU MCII knob does not react to external speed changes"
(@n3ix Splitting this out from #225)

Another issue I noticed while testing is that the Knob is not rotated in response to external speed changes. For instance if I change the speed using a JMRI throttle, the displayed speed in ED on the MC II changes however the Knob doesn't move. If I change the speed using the slider in ED on the MC II, the Knob does move to track the change.

[2018-07-20 22:03] mattharris commented on #225
@n3ix I've separated out the external speed change issue into #292.

[2018-07-20 23:40] n3ix commented on #292
@mattharris Think I've seen that as well.  On travel at the moment but can test changes in a week or so.

[2018-10-15 11:42] mattharris commented on #229
@n3ix I'm going to re-visit this as part of the investigations due to being forced by Google to increase the API level to 26 - after 31st October, we can no longer submit updates to the Play Store if our targetSdkVersion is lower than 26.

I do already have proof of concept code for the use of the different camera APIs that is invoked based on device capability, but this needs to be refactored as

[2018-10-15 11:44] mattharris opened #363 "Increase targetSdkVersion to 26"
Due to changed Play Store policies, the targetSdkVersion has to be changed to API 26 or later as we'll be unable to publish to the Play Store after 1st November 2018 - source:

https://support.google.com/googleplay/android-developer/answer/113469#targetsdk

[2018-10-15 11:48] mattharris commented on #363
One of the key items that will affect us is the removal of Apache HTTP Client since API 23. We have two options:

1. Migrate to HttpURLConnection
2. Keep using Apache via importing the legacy Apache HTTP Client library

For now, option 2 seems the most pragmatic option as this can be managed with minimal effort.

[2018-10-15 11:53] mattharris commented on #363
Another item that we need to consider is the changed behaviour with regard application permissions.

As from API 23, we need to check for permissions at runtime as it is possible for them to be revoked by the user.

Further details on this (and other changes to be considered) are at https://developer.android.com/distribute/best-practices/develop/target-sdk

[2018-10-22 01:03] DrCodeWizzard opened #365 "Add support for importing and then graphical button icons from DecoderPro Roster instead of text on buttons"
As an end user it would be great if EngineDriver supported use of graphical button icons set in DecoderPro Roster. It would prevent shortening of function names in the throttles.

This request is related to the following issue:

https://github.com/JMRI/JMRI/issues/5943

As result of the earlier request I have created and uploaded an initial set of over 380 64x64 png icons that could be used for de

[2018-10-22 01:05] DrCodeWizzard opened #366 "Enhancement: Add support for graphical buttons (instead of text) using icons stored in decoderpro roster"
As an end user it would be great if EngineDriver supported use of graphical button icons set in DecoderPro Roster. It would prevent shortening of function names in the throttles.

This request is related to the following issue:

https://github.com/JMRI/JMRI/issues/5943

As result of the earlier request I have created and uploaded an initial set of over 380 64x64 png icons that could be used for de

[2018-10-22 01:06] DrCodeWizzard opened #367 "Add support for use of decoder pro roster icons instead of text for buttons."
As an end user it would be great if EngineDriver supported use of graphical button icons set in DecoderPro Roster. It would prevent shortening of function names in the throttles.

This request is related to the following issue:

https://github.com/JMRI/JMRI/issues/5943

As result of the earlier request I have created and uploaded an initial set of over 380 64x64 png icons that could be used for de

[2018-10-22 01:09] DrCodeWizzard opened #368 "Add support for using decoderpro roster icons instead of text in throttle buttons"
As an end user it would be great if EngineDriver supported use of graphical button icons set in DecoderPro Roster. It would prevent shortening of function names in the throttles.

This request is related to the following issue:

https://github.com/JMRI/JMRI/issues/5943

As result of the earlier request I have created and uploaded an initial set of over 380 64x64 png icons that could be used for de

[2018-10-22 12:41] mattharris commented on #366
duplicate of #365

[2018-10-22 12:41] #366 closed

[2018-10-22 12:41] mattharris commented on #367
duplicate of #365

[2018-10-22 12:41] #367 closed

[2018-10-22 12:42] mattharris commented on #367
duplicate of #365

[2018-10-22 12:42] mattharris commented on #368
duplicate of #365

[2018-10-22 12:42] #368 closed

[2018-10-22 12:43] mattharris commented on #365
There were a few duplicates created (I'm guessing as a result of the GitHub issues on 21st October - https://blog.github.com/2018-10-21-october21-incident-report/ ) which have been closed.

[2018-10-23 07:14] flash62au commented on #365
Ii WiThrottle actually able to send the images to Engine Driver?

Peter

[2018-10-28 17:15] DrCodeWizzard commented on #365
I will quote @mstevetodd here from the other ticket:

[2019-02-15 13:45] mattharris commented on #225
We've another user report of this same issue.

[2019-02-15 13:46] mattharris commented on #363
@mstevetodd I think we can close this now, agreed?

[2019-02-15 13:47] mattharris commented on #229
@n3ix Can we close this now as part of the changes made in #374?

[2019-02-15 14:32] mstevetodd commented on #363
@mattharris Yes, definitely. Thank you for your excellent efforts on this.

[2019-02-15 14:32] #363 closed

[2019-02-15 17:25] n3ix commented on #229
@mattharris Yes it is fixed by 374

[2019-02-15 17:25] #229 closed

[2019-02-20 11:11] mattharris commented on #225
Just a quick update to say that I'm still working on identifying the root cause for this, but it looks to be in the way we deal with the speed step response from the WiThrottle server and not correctly considering the ESU Throttle Scaling setting. Still need to debug directly on a device which is taken a bit longer due to some problems I had in my dev environment (now fixed).

[2019-02-25 13:54] tebriz159 opened #433 "Logo design"
Hi, I'm a logo designer, I design free logos for open source project and I can make a logo for your project. So, what do you think?

[2019-02-25 15:02] mstevetodd commented on #433
Hi @tebriz159 one of our developers very recently updated our logo set and we're pleased with them. So thanks, but we're good right now.

[2019-02-25 15:02] #433 closed

[2019-04-02 12:41] sidlo64 opened #452 "Untranslated strings v2.23.81"
version 2.23.81
Running the program for the first time. Phone Locations are Czech - cs. The program uses global settings - Czech. The **Forward** and **Reverse** buttons remain untouched. After manually switching to the Czech language, the buttons will be translated to **Vpřed** and **Vzad** correctly. Any other changes to the Global settings, English, or Czech settings are correct. The problem is

[2019-04-02 16:47] flash62au commented on #452
Hi,
I will look into it.

Peter

On Tue, 2 Apr 2019, 10:41 PM Petr Šídlo <notifications@github.com> wrote:

[2019-04-02 21:49] flash62au commented on #452
Sorry, my mistake.
It looks like I incorrectly got you to remove a few strings that need to be
in the translation.

prefLeftDirectionButtonsDefaultValue
prefRightDirectionButtonsDefaultValue

prefLeftDirectionButtonsShortDefaultValue
prefRightDirectionButtonsShortDefaultValue

I will add them back in and create a PR later today.

Peter

On Tue, 2 Apr 2019 at 22:41, Petr Šídlo <notifications@github

[2019-09-16 10:22] rhwood opened #510 "Licensing prompt when using on closed network"
While at a public show, when attempting to use EngineDriver, the attached was displayed on the user's Kindle only when attempting to use EngineDriver and no other application:

![IMG_0164](https://user-images.githubusercontent.com/297232/64950823-4d71e480-d84a-11e9-99f6-4bf8fcbc1d8f.JPG)

Is there any reason we need to check a license?

[2019-09-16 10:38] mstevetodd commented on #510
I'm pretty sure that message is not coming from EngineDriver, but I'll scan the source later today to be sure.
What version of EngineDriver, and where was it installed from?

[2019-09-16 16:10] cykodelic commented on #510
Not sure of the version, but it says Engine Drive 6462 at the bottom of the screen. It's on a Kindle.

[2019-09-16 17:21] mstevetodd commented on #510
The EngineDriver version is shown on the About page of the app.

The app can be installed from the Amazon AppStore, the Google Play Store, or downloaded directly from the EngineDriver website. I'm going to assume you installed it from the Amazon AppStore (see next).

A quick Google search for that message text turns up messages of this nature: https://www.amazonforum.com/forums/devices/fire-tablet

[2019-09-16 17:28] cykodelic commented on #510
Thanks! Got it done.
mark

On Mon, Sep 16, 2019 at 1:21 PM mstevetodd <notifications@github.com> wrote:

[2019-09-16 19:45] #510 closed

[2020-10-09 12:48] MonitorComputing opened #731 "Feature Request: Make preferred network used for connection requests configurable"
Recent discussions on Groups.IO for JMRI have revealed that in the more recent versions of Android when Mobile Data is available and connected WiFi has no Internet connectivity then Mobile Data is always used for new connection requests regardless of the target IP address matching the WiFi network.

It would be useful if Engine Driver could be configured to override this preference to any network

[2020-10-09 19:11] flash62au commented on #731
Hi,
Awhile ago I spent over a week trying to force ED to use the WiFi rather than mobile data.
I was not successful.
There are plenty of suggestions on the web on how to address it as this seems to be a common problem, but nothing I found matches the way ED communicates.

Peter

[2020-10-15 18:03] Alan-RMA49 commented on #731
Hi all,

It's great to see this is being given another shot. I've joined github just to follow this request and provide any help I can in terms of user feedback, although I'm well aware it's currently a request and nothing more. I won't be much use in terms of coding but my line of work (mobile device management software) causes me to spend a fair bit of time fiddling with Android phones / tablets

[2020-10-15 18:36] mattharris commented on #731
Alan,

If you look at PRs #732 #733 #734 #735 these contain the work that @flash62au has done to implement this.

Right now, this is only available if you build the code yourself.

Best regards,

Matt H

[2020-10-15 21:30] flash62au commented on #731
Alan,
we think we have had some success with the problem.  At least it is working in our test environments.
The change should be included in the next beta release.

Peter Akers

[2020-10-16 13:18] Alan-RMA49 commented on #731
Thanks Peter,

I'm taking my first tentative steps with Android Studio... I'll be able to test it properly once I've figured out what's causing the "App not installed" error when pushing the APK to my phone (might be that it's unsigned), but so far I've run it in the emulator and can see the option. Good call having mobile data "off" by default. Sounds like it's working as expected on your end any

[2020-10-16 20:11] flash62au commented on #731
Alan,
I you have the real version of ED (from the Play Store) I don't think AS will install over the top of it. Do a backup of your preferences (bottom of the preferences page) then uninstall ED.
You should be able to install your version from AS then. Then you can restore your preferences.

Peter Akers

[2020-10-16 23:53] Alan-RMA49 commented on #731
Thanks Peter,

That'll teach me not to think things through, I assumed the apps' manifests would be different enough to allow them to sit side-by-side... After uninstalling ED I was able to install the APK and I'm now happily connecting to the layout without having to disable mobile data, excellent stuff!

Looking forward to seeing the update hit the Play Store so I can get it onto our members' ph

[2020-10-17 09:53] flash62au commented on #731
Thanks for the feedback. Glad it worked.
I did some testing at my club today and it was equally successful.

Peter

[2020-10-24 11:40] mstevetodd commented on #731
I have pushed a new Beta to the Play Store, 2.26.115.
In this version, Peter made changes to force use of the wifi connection, even when no Internet connection is available.
Thanks, Peter!

[2020-11-22 17:00] adamcmain opened #753 "Feature request: setting to enabled/disable sound and vibrate on disconnect"
My throttle loses connection every 10~15 seconds but reconnects just fine nearly instantly.  It doesn't impact throttle control significantly, so I can live with it.  However, having the phone play a sound and vibrate nearly constantly is quite annoying.

Please add a setting to disable the sound and vibration when the connection is lost or possibly a threshold where won't play until it's lost con

[2020-11-22 17:43] mstevetodd commented on #753
@adamcmain I've no issue with the request, but it's probably worthwhile to also investigate why your device is disconnecting regularly and fix it. You can contact me via email and I'll work with you on that.

@flash62au any thoughts on this request?

[2020-11-22 20:36] flash62au commented on #753
@mstevetodd @adamcmain Yes, it is easy enough to add a preference to disable it, but I agree that I would be more concerned about why it is disconnecting so often.

[2020-11-27 00:00] flash62au commented on #753
@adamcmain
I have committed the change to add a preference to disable the sound and vibrate on disconnect. https://github.com/JMRI/EngineDriver/pull/758

It should be available on the release of the next beta.

**If you want to try it out now...**
I have created an apk here https://drive.google.com/file/d/16estVH21vJWAG6gEV_sXDNLHsI-yBNPv/view?usp=sharing
NOTE: I can't sign it with the real keys (

[2020-12-23 19:17] adamcmain commented on #753
Hi,  thanks for making the changes.  Any idea when the beta will include this option?

[2020-12-23 20:11] mstevetodd commented on #753
"Soon" :)
I have "one more change", related to LnWi, I'm trying to get into this one.
Unfortunately, DayJob and RealLife keep interfering!
It will be before the end of the year, with or without my "next" change.

[2021-01-26 09:49] Alan-RMA49 commented on #753
I'll jump in here as I've encountered a similar problem. As the club's social media guy and an avid instagramer in my (remaining) spare time, I use my phone a lot and to avoid using too much battery I have it set to lock automatically after 15 seconds. Whenever I'm using ED I increase the lock time to 60 seconds because I've found that whenever the phone locks, ED seems to lose the connection to J

[2021-01-26 11:08] Alan-RMA49 opened #779 "Feature request: new connection profile for Roco / Fleischmann Multimaus"
Issue:

Following discussions on the group, it seems the code in older Roco / Fleischmann Multimaus controllers is non-compliant with the XpressNet 3.6 standard, meaning they can't interpret the (compliant) commands issued by JMRI for F13 to F28. This excludes JMRI from contexts where these controllers are used with locomotives that are sound fitted or have custom function mapping. A custom connec

[2021-01-26 13:04] mattharris commented on #779
@Alan-RMA49 Can you move this issue to the [JMRI/JMRI](https://github.com/JMRI/JMRI) repository please as this is more relevant for the main codebase.

Thanks.

[2021-01-26 13:21] Alan-RMA49 commented on #779
Whoops, didn't check which repository I was in before posting...

Done: https://github.com/JMRI/JMRI/issues/9335

[2021-01-26 13:21] #779 closed

[2021-01-26 14:20] mstevetodd commented on #753
Thanks, Alan.

Note that Peter's change is in the current Production version 2.27.121, released a couple of days ago. I should have updated this issue.
@adamcmain please close this issue if the new version solves the problem for you.

[2021-04-06 14:23] mstevetodd commented on #731
This has been in production for a while with no known issues. Closing.

[2021-04-06 14:23] #731 closed

[2021-04-06 14:23] mstevetodd commented on #753
In production with no reported issues. Closing.

[2021-04-06 14:23] #753 closed

[2021-12-02 00:17] RobPosener opened #855 "Additional Tablet Support"
I suggest an additional/new Throttle Screen Layout that operates on larger screen sizes (ie, 10 inch tablets in landscape orientation) that displays a small number of throttles (say a maximum of 3) on one side, together with the Points screen (as is currently displayed) on the other side.
This would make operating Engine Driver faster, since there would be no need to switch between screens.
You **

[2021-12-10 20:22] rbthomp opened #858 "Feature Request: Add generic keyboard mapping."
Would there be any interest in adding support for generic key binding to functions? Instead of mapping a gamepad key to a function you would map a Engine Driver function to a KeyEvent.

The UI could work like this, select an Engine Driver function from the a list then, you press the key you want bound to function. You would still have default key mappings profiles for devices you want to support,

[2021-12-12 01:08] flash62au commented on #858
We already do something related for the gamepads.
The 'icade' format in particular is just upper and lower case characters.

So a generic one for a keyboard would not be overly difficult.

However I have not seen any commercial devices which would be useful enough to make it worth the effort. (other than the gamepads)   I have a personal plan to try build a dedicated gamepad using an esp32 and a r

[2021-12-12 06:14] rbthomp commented on #858
I was going to use [this](https://www.ebay.com/itm/373714345505?_trkparms=amclksrc%3DITM%26aid%3D111001%26algo%3DREC.SEED%26ao%3D1%26asc%3D20160908105057%26meid%3D8a876f2a9bf44e648d916a6c7d3e9652%26pid%3D100675%26rk%3D2%26rkt%3D15%26sd%3D174673856478%26itm%3D373714345505%26pmt%3D1%26noa%3D1%26pg%3D2380057&_trksid=p2380057.c100675.m4236&_trkparms=pageci%3Aedcd940e-5b10-11ec-adfb-2a62c1e00fed%7Cpare

[2021-12-12 07:57] flash62au commented on #858
ok.  the 'Mini USB Media Speaker Volume Controller' is kind-of interesting.
Supporting it in a similar way to gamepad controllers 'should' be easy enough (just a matter of figuring how to deal with the source being USB), but something special may be needed for the volume controller.  Currently the volume speed control is treated separately to gamepad speed control, and in this case they will need

[2021-12-26 18:20] ksfraser opened #872 "Feature Request: "Radio" communications and/or Text Train Orders"
I appreciate that this FR is out of scope for controlling an engine; however with VSD sounds now being incorporated to enhance the operating experience, I thought this might also be worth considering.  Unfortunately my attempts at Java programming in the past wasn't as successful as I would have liked, so this is beyond my current ability to contribute :(

It would be nice if there was a SIP clien

[2021-12-28 13:51] mstevetodd commented on #872
@ksfraser Thank you for the request.
If you don't mind, please separate the text suggestion into its own request, and provide more detail on what you're asking for.

Regarding SIP, I've no experience with such, so please provide more information.
For example, I don't understand why you'd need to switch apps once the initial connection is made. What (exactly) are you doing in the SIP client while y

[2021-12-28 21:46] flash62au commented on #872
I tend to agree.
I would be reluctant to include complex functionality that already exists as a separate app.
However integration with the other app would not be unreasonable if possible. (i.e. adding the PTT and channel buttons to ED)

[2021-12-29 00:48] ksfraser commented on #872
My usage scenario was less directly replacing the FRS and more like Canadian Pacific's Radios from 20 years ago - crew monitors the road channel for the segment of track they are on.  They switch channels (i.e. dial a new extension) to talk to the dispatcher (which then flashes an alert on the dispatcher's screen).  If the dispatcher calls them, they switch to a third channel.  So I was using mult

[2022-02-24 22:02] flash62au commented on #858
@rbthomp
I did a fairly simple test of plugging in a USB keyboard into my phone.
ED doesn't actually distinguish between Bluetooth devices and USB devices, so if you can tell me the up and down key codes generated by the buttons on the device I can set something up for you. (You can use the gamepad test screen to get the codes.)

Peter